/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  /* CSS Variables for Colors */
  --color-background: #264653;
  --color-background-transparent: rgba(38, 70, 83, 0.8);
  --color-accent: #F4A261;
  --color-hover: #E76F51;
  --color-secondary: #2A9D8F;
  --color-text-light: #ffffff;
  --color-highlight: #E9C46A;

  /* CSS Variables for Sizes */
  --border-radius: 15px;
  --transition-speed: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: rgba(38, 70, 83, 0.8);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 20px 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#site-title a {
  color: var(--color-text-light);
  font-size: 2rem;
  transition: color var(--transition-speed) ease-in-out;
}

#site-title a:hover {
  color: var(--color-highlight);
}

#nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-list li {
  padding: 10px;
}

.nav-link {
  color: var(--color-text-light);
  font-size: 1.2rem;
  transition: color var(--transition-speed) ease-in-out;
}

.nav-link:hover {
  color: var(--color-hover);
}

section h2 {
  font-size: 5rem;
  color: var(--color-accent);
  transition: color var(--transition-speed) ease-in-out;
}

h2:hover {
  color: var(--color-highlight);
}

#about-me {
  max-width: 70%;
  padding-top: 100px;
  height: 80vh;
  scroll-margin-top: 100px;
}

.about-text {
  font-size: 1.5rem;
  padding: 10px 0 0 20px;
  color: var(--color-text-light);
  line-height: 1.6;
}

#skills-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skill {
  border: 2px solid var(--color-hover);
  border-radius: 25px;
  padding: 8px;
  margin: 20px 0 0 20px;
  width: 80px;
  text-align: center;
  color: var(--color-hover);
  cursor: pointer;
  transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
}

.skill:hover {
  background-color: var(--color-hover);
  color: var(--color-text-light);
}

#projects {
  min-height: 100vh;
  max-width: 70%;
  padding-top: 50px; /* Reduced padding for a tighter look */
  scroll-margin-top: -20px;
}

#projects h2 {
  text-align: center;
  margin-bottom: 30px; /* Added space below heading */
}

#project-list {
  display: grid;
  gap: 20px; /* Increased gap for more breathing room between cards */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding-top: 20px;
}

.project-item {
  border: 2px solid var(--color-secondary);
  border-radius: var(--border-radius);
  padding: 20px; 
  min-height: 280px; 
  background-color: rgba(38, 70, 83, 0.9); 
  
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
  transition: 
    transform var(--transition-speed) ease, 
    box-shadow var(--transition-speed) ease, 
    border var(--transition-speed) ease;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.project-item:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--color-highlight);
}

.project-item h3 {
  font-size: 1.8rem; 
  color: var(--color-hover);
  margin-bottom: 15px;
}

.project-item p {
  color: var(--color-text-light);
  line-height: 1.5; 
  flex-grow: 1; 
}

.project-item p:last-child {
  margin-top: 10px; 
}


#contact {
  min-height: 100vh;
  max-width: 70%;
  padding-top: 100px;
}

#contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-input,
#contact-message {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-secondary);
  margin-top: 40px;
  padding: 5px;
  color: var(--color-text-light);
  min-width: 50%;
  font-size: 1.5rem;
  outline: none;
  transition: padding var(--transition-speed) ease-in-out, border var(--transition-speed) ease-in-out, border-radius var(--transition-speed) ease-in-out;
}

.contact-input:focus,
#contact-message:focus {
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  padding: 5px 15px;
}

button {
  width: 30%;
  height: 40px;
  margin-top: 20px;
  font-size: 1.5rem;
  border: 2px solid var(--color-secondary);
  border-radius: var(--border-radius);
  background-color: var(--color-highlight);
  transition: transform 0.2s ease-in-out, background-color var(--transition-speed) ease-in-out, color 0.4s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  background-color: var(--color-secondary);
  color: var(--color-text-light);
}

button:active {
  transform: scale(1.2, 1.0);
  transition: transform 0.1s ease-in-out;
}

#socials {
  margin-top: 20px;
}

#socials a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  transition: transform var(--transition-speed) ease-in-out;
}

#socials img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#socials a:hover {
  transform: scale(1.1);
}

footer {
  width: 100%;
  padding: 20px 0 40px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: var(--color-text-light);
}

footer h3 {
  font-size: 1.5rem;
}

footer p {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

#burger-menu {
  display: none; 
  cursor: pointer;
}

#burger-menu div {
  width: 30px;
  height: 3px;
  background-color: var(--color-text-light);
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

/* Media Queries */
@media (max-width: 768px) {
  .about-title,
  #projects h2,
  #contact h2 {
    font-size: 3rem;
  }

  #about-me {
    height: auto;
  }

  #projects {
    min-height: auto;
    scroll-margin-top: 40px;
  }

  #contact {
    max-width: 80%;
    min-height: auto;
    margin-bottom: 100px;
  }

  #contact h2 {
    text-align: center;
  } 

  #contact button {
    width: auto;
    padding: 0 10px ;
  }

  footer p {
    text-align: center;
  }

  .about-text {
    font-size: 1.2rem;
  }
  
  
  #project-list {
    grid-template-columns: 1fr;
  }

  .contact-input,
  #contact-message {
    min-width: 80%;
  }

  #burger-menu {
    display: block; /* Display burger icon on smaller screens */
    z-index: 1100; /* Ensure it's above everything else */
  }

  #nav-list {
    display: none; /* Hide the nav links by default */
    position: fixed;
    top: 60px; /* Position right under the header */
    right: 0;
    background-color: var(--color-background-transparent);
    height: 200px/*calc(100% - 60px)*/;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    z-index: 1000;
  }

  #nav-list.show {
    display: flex; /* Show nav links when toggled */
  }

  .nav-link {
    padding: 15px 0;
    font-size: 1.5rem; /* Larger links for mobile */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #project-list {
    grid-template-columns: 1fr 1fr;
  }

  #about-me,
  #projects,
  #contact {
    height: auto;
    min-height: auto;
    margin-bottom: 80px;
  }

  #projects {
    scroll-margin-top: 20px;
  }
}
